/* Reset */
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.heading {
  text-transform: uppercase;
  background: linear-gradient(to right, #fff 0%, #2bfc00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background-color: #2bfc00;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
