/* Reset */
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  text-shadow: -3px 0px rgb(59, 133, 229);
  margin-bottom: 20px;
}

.box {
  background-color: rgb(59, 133, 229);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
  padding: 10px;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}
.box h2 {
  font-size: 20px;
}
