/* Google Fonts */

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}
* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}
body {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Parent Container */
.container {
  text-align: center;
}

/* Numbers Container */
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* Progress Bar */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

/* Circle */
.circle {
  background-color: #1f1f1f;
  color: #e2e2e2;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}

/* Buttons */
.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn.active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
